* {
  margin: 0;
}
.containerRegister {
  background-color: #febd81;
  font-family: "Roboto", sans-serif;
  color: #c16b55;
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tittleRegisterMe {
  color: #c16b55;
  text-align: center;
  margin-bottom: 40px;
  font-size: 35px;
}
.labelRegisterMe {
  margin-bottom: 5px;
  text-align: left;
}
.inputRegisterMe {
  border: none;
  background-color: white;
  border-radius: 25px;
  width: 258px;
  height: 33px;
  left: 31px;
  margin-bottom: 25px;
}
.txtGoogle {
  margin-bottom: 20px;
}
.buttonRegisterMe {
  border-radius: 25px;
  width: 182px;
  height: 30px;
  left: 70px;
  top: 410px;
  border: none;
  background-color: white;
  color: #c16b55;
  font-family: "Roboto", sans-serif;
  margin-bottom: 25px;
}
